<app-auth-navbar></app-auth-navbar>
<main>
    <section class="relative block h-300-px">
        <div class="relative flex flex-col min-w-0 break-words w-full  shadow-lg  bg-blueGray-200 border-0">
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0 ">
                <h6 class="text-black text-lg mt-6 mb-6 ml-12 font-bold uppercase"> Data Deletion </h6>
                <div class="flex flex-wrap">
                    <div class="flex-auto px-4 lg:px-10 py-10 pt-0 w-full lg:w-4/12">
                        <p class="px-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus
                            et netus et. Fames ac turpis egestas sed tempus urna. Volutpat sed cras ornare arcu dui
                            vivamus. Sed nisi lacus sed viverra. In cursus turpis massa tincidunt dui ut ornare. Aenean
                            vel elit scelerisque mauris pellentesque pulvinar. Tincidunt dui ut ornare lectus sit. Nec
                            nam aliquam sem et tortor consequat. Vulputate sapien nec sagittis aliquam malesuada
                            bibendum. In aliquam sem fringilla ut morbi tincidunt. Quis ipsum suspendisse ultrices
                            gravida dictum fusce ut. Lorem donec massa sapien faucibus et. Neque ornare aenean euismod
                            elementum nisi.

                            At lectus urna duis convallis convallis tellus id interdum velit. Turpis egestas maecenas
                            pharetra convallis posuere morbi leo urna. Eget gravida cum sociis natoque penatibus et
                            magnis dis parturient. Sagittis id consectetur purus ut faucibus pulvinar elementum integer
                            enim. Vitae sapien pellentesque habitant morbi tristique. Mi sit amet mauris commodo quis.
                            Porttitor leo a diam sollicitudin tempor id eu nisl. Quam elementum pulvinar etiam non quam.
                            Suspendisse in est ante in nibh mauris. Aenean euismod elementum nisi quis eleifend.
                            Scelerisque in dictum non consectetur a erat. Integer feugiat scelerisque varius morbi.
                            Suspendisse ultrices gravida dictum fusce. Lacus suspendisse faucibus interdum posuere.
                            Imperdiet sed euismod nisi porta lorem mollis aliquam. Aenean pharetra magna ac placerat.
                            Luctus accumsan tortor posuere ac ut.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" block px-3 bg-blueGray-200 mb-0 ">
        <app-cards></app-cards>
    </section>
</main>
<app-footer></app-footer>